#libre {
  font-family: 'Libre Barcode 39 Text', cursive;
}

#oswald {
  font-family: 'Oswald', sans-serif;
}

#graduate {
  font-family: 'Graduate', cursive;
}

#roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
