/*

Portfolio color scheme:

From lighter to darker, sort of greenish blue color
I was originally thinking darker background and lighter text
SUBJECT TO CHANGE, PLACEHOLDER

#67989A
#417E80
#236467
#0D4A4D
#003133

From http://paletton.com/palette.php?uid=13j0u0kllllaFw0g0qFqFg0w0aF

*/

body {
    background-color: #003133;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    color: 	#417E80;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  color: 	#67989A;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  color: 	#67989A;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  color: 	#67989A;
  text-decoration: underline;
}

#pic {
    display: block;
      max-width:90px;
      max-height:150px;
      width: auto;
      height: auto;
    float: left;
        width: 50%;
}

#me {
  float: left;
    width: 50%;
}

.top:after {
    content: "";
    display: table;
    clear: both;
}

#project1 {
  float: left;
    width: 33.33%;
}

#project2 {
  float: left;
    width: 33.33%;
}

#project3 {
  float: left;
    width: 33.33%;
}

.columns:after {
    content: "";
    display: table;
    clear: both;
}
